<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate TicTacToe</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <h1>Ultimate TicTacToe</h1>
    <div id="button-container">
        <!-- PvP button -->
        <button id="pvp">Player vs Player</button>
        <!-- PvBot button -->
        <button id="pvbot">Player vs Bot</button>
        <!-- Evaluation button -->
        <button id="eval">Analysis Board</button>
        <!-- Settings -->
        <button id="settings">Settings</button>
    </div>
    
</body>
</html>