<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Tic Tac Toe</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div class="info">
        <div class="player" id="player">{{ current_player }}</div>
        <div class="winner" id="winner"></div>
    </div>
    <div class="board">
        <div class="mini-board" id="mini-0">
            <div class="mini-square" id="0-0-0-0"></div>
            <div class="mini-square" id="0-0-0-1"></div>
            <div class="mini-square" id="0-0-0-2"></div>
            <div class="mini-square" id="0-0-1-0"></div>
            <div class="mini-square" id="0-0-1-1"></div>
            <div class="mini-square" id="0-0-1-2"></div>
            <div class="mini-square" id="0-0-2-0"></div>
            <div class="mini-square" id="0-0-2-1"></div>
            <div class="mini-square" id="0-0-2-2"></div>
        </div>
        <div class="mini-board" id="mini-1">
            <div class="mini-square" id="0-1-0-0"></div>
            <div class="mini-square" id="0-1-0-1"></div>
            <div class="mini-square" id="0-1-0-2"></div>
            <div class="mini-square" id="0-1-1-0"></div>
            <div class="mini-square" id="0-1-1-1"></div>
            <div class="mini-square" id="0-1-1-2"></div>
            <div class="mini-square" id="0-1-2-0"></div>
            <div class="mini-square" id="0-1-2-1"></div>
            <div class="mini-square" id="0-1-2-2"></div>
        </div>
        <div class="mini-board" id="mini-2">
            <div class="mini-square" id="0-2-0-0"></div>
            <div class="mini-square" id="0-2-0-1"></div>
            <div class="mini-square" id="0-2-0-2"></div>
            <div class="mini-square" id="0-2-1-0"></div>
            <div class="mini-square" id="0-2-1-1"></div>
            <div class="mini-square" id="0-2-1-2"></div>
            <div class="mini-square" id="0-2-2-0"></div>
            <div class="mini-square" id="0-2-2-1"></div>
            <div class="mini-square" id="0-2-2-2"></div>
        </div>
        <div class="mini-board" id="mini-3">
            <div class="mini-square" id="1-0-0-0"></div>
            <div class="mini-square" id="1-0-0-1"></div>
            <div class="mini-square" id="1-0-0-2"></div>
            <div class="mini-square" id="1-0-1-0"></div>
            <div class="mini-square" id="1-0-1-1"></div>
            <div class="mini-square" id="1-0-1-2"></div>
            <div class="mini-square" id="1-0-2-0"></div>
            <div class="mini-square" id="1-0-2-1"></div>
            <div class="mini-square" id="1-0-2-2"></div>
        </div>
        <div class="mini-board" id="mini-4">
            <div class="mini-square" id="1-1-0-0"></div>
            <div class="mini-square" id="1-1-0-1"></div>
            <div class="mini-square" id="1-1-0-2"></div>
            <div class="mini-square" id="1-1-1-0"></div>
            <div class="mini-square" id="1-1-1-1"></div>
            <div class="mini-square" id="1-1-1-2"></div>
            <div class="mini-square" id="1-1-2-0"></div>
            <div class="mini-square" id="1-1-2-1"></div>
            <div class="mini-square" id="1-1-2-2"></div>
        </div>
        <div class="mini-board" id="mini-5">
            <div class="mini-square" id="1-2-0-0"></div>
            <div class="mini-square" id="1-2-0-1"></div>
            <div class="mini-square" id="1-2-0-2"></div>
            <div class="mini-square" id="1-2-1-0"></div>
            <div class="mini-square" id="1-2-1-1"></div>
            <div class="mini-square" id="1-2-1-2"></div>
            <div class="mini-square" id="1-2-2-0"></div>
            <div class="mini-square" id="1-2-2-1"></div>
            <div class="mini-square" id="1-2-2-2"></div>
        </div>
        <div class="mini-board" id="mini-6">
            <div class="mini-square" id="2-0-0-0"></div>
            <div class="mini-square" id="2-0-0-1"></div>
            <div class="mini-square" id="2-0-0-2"></div>
            <div class="mini-square" id="2-0-1-0"></div>
            <div class="mini-square" id="2-0-1-1"></div>
            <div class="mini-square" id="2-0-1-2"></div>
            <div class="mini-square" id="2-0-2-0"></div>
            <div class="mini-square" id="2-0-2-1"></div>
            <div class="mini-square" id="2-0-2-2"></div>
        </div>
        <div class="mini-board" id="mini-7">
            <div class="mini-square" id="2-1-0-0"></div>
            <div class="mini-square" id="2-1-0-1"></div>
            <div class="mini-square" id="2-1-0-2"></div>
            <div class="mini-square" id="2-1-1-0"></div>
            <div class="mini-square" id="2-1-1-1"></div>
            <div class="mini-square" id="2-1-1-2"></div>
            <div class="mini-square" id="2-1-2-0"></div>
            <div class="mini-square" id="2-1-2-1"></div>
            <div class="mini-square" id="2-1-2-2"></div>
        </div>
        <div class="mini-board" id="mini-8">
            <div class="mini-square" id="2-2-0-0"></div>
            <div class="mini-square" id="2-2-0-1"></div>
            <div class="mini-square" id="2-2-0-2"></div>
            <div class="mini-square" id="2-2-1-0"></div>
            <div class="mini-square" id="2-2-1-1"></div>
            <div class="mini-square" id="2-2-1-2"></div>
            <div class="mini-square" id="2-2-2-0"></div>
            <div class="mini-square" id="2-2-2-1"></div>
            <div class="mini-square" id="2-2-2-2"></div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='main.js')}}"></script>
</html>